@media (min-width: 1281px) and (max-width: 1440px) {
  .marginXY {
    margin-left: 32px !important;
    margin-right: 32px !important;
  }
  .footergrid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media (min-width: 700px) and (max-width: 1279px) {
  .abtImg {
    width: 100% !important;
  }
}
